Forgot Password
<br>
<br>
<button routerLink="/home">
    <span>Home</span>
</button>

<section>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

        <p>A password-reset email will be sent to...</p>
        <p>
            <label>Email</label>
            <input autocomplete="off" formControlName="email" type="email" placeholder="Email">
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button [disabled]="mailSent">Reset my password</button>
        <div *ngIf="mailSent">
            <p>An email has been sent!</p>
            <button routerLink="/home">
                <span>Return Home</span>
            </button>
        </div>
    </form>
</section>